* {
margin: 0px;
border: 0px;
padding: 0px;
}

html {
    overflow: hidden;
    height: 100%;
    font-size: 16px;
}

body {
    overflow: auto;
    height: 100%;
}

@media only screen and (max-width: 768px) and (max-height: ) {
    
    .header {
        width: 100%;
    }

    .header h1 {
        font-size: 2rem;
        
    }
    
    .column-left {
        margin: ;
    }
}

.header {
    height: 300px;
    text-transform: uppercase;
    background: url(http://imgur.com/gzgBvD0.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.header h1 {
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    color: hsla(360, 100%, 100%, 1);
    font-size: 10rem;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
}

.navbar {
    width: 100%;
    padding: 6px; 
    position: relative;
    top: 0;
    text-align: center;
    background-color: hsla(331, 100%, 71%, 1);
    overflow: auto;
    box-sizing: border-box;
}

.navbar a {
    font-family: "Roboto condensed", sans-serif;
    color: hsla(360, 100%, 100%, 1);
    font-size: 1.2em;
    font-weight: 600;
    word-spacing: 15px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.navbar a:hover {
    border-radius: 10%;
    color: hsla(331, 100%, 52%, 1);
    
}

.navbar li {
    list-style: none;
    display: inline;
    padding: 2px 50px;
}


#wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    color: hsla(314, 100%, 71%, 1);
    box-sizing: border-box;
}


.column-left {
    padding: 20px 10px;
    width: 350px;
    height: 100%;
    float: left;
    background-color: hsla(190, 100%, 87%, 1);
    top: 2em;
    margin: 10px 10px;
    box-sizing: border-box;
}

.column-center {
    padding: 20px 10px;
    width: 350px;
    height: 100%;
    float: left;
    background-color: hsla(190, 100%, 87%, 1); 
    top: 2em;
    margin: 10px 10px;
    box-sizing: border-box;

}

.column-right {
    padding: 20px 10px;
    width: 350px;
    height: 100%;
    float: left;
    background-color: hsla(190, 100%, 87%, 1);
    top: 2em;
    margin: 10px 10px;
    box-sizing: border-box;
}

#wrapper p {
    box-sizing: border-box;
    padding-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
}

.footer {
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    padding: 10px;
    clear: both;
    background-color: hsla(331, 100%, 52%, 1);
}

.footer p {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    color: white;
    
}
